

#window {
    background-color: transparent;
}

/* decoration {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
} */

#view {
    font-family: monospace;
    font-size: 20px;
}


textview text keyword {
    color: white;
}


.titlebar, headerbar {
    min-height: 0px;
    /* padding: 0px; */
    margin: 0px;
}

#headerPaned, #headerbarMain, #headerbarSide {
    background: rgba(180, 219, 255, 0.555);
    color: rgb(97, 97, 97);
    
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#headerPaned > separator, #panedSide > separator {
	background: transparent;
}

#logo {
    background: rgb(180, 219, 255); 
    color: rgb(255, 0, 170);
}

#toolbar_ctrls {
    background: rgba(180, 219, 255, 0.555);
}

#closeBtn {
    background: red;
    border-radius: 100%;
}

#bodyPaned {
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#toolbar_btns {
    background-color:transparent;
    min-width: 34px;
    min-height: 100px;
}

#toolbar_files {
    background:  rgba(180, 219, 255, 0.523);
}

#ok_btn {
    background-color: rgba(65, 100, 218, 0.5);
    margin-top: 50px;
}


#ok_btn:hover, 
#ok_btn:focus {
  box-shadow: 0px 0px 0px 0px rgba(255,255,255,0.0);
}
