/*
#	This program is free software: you can redistribute it and/or modify
#	it under the terms of the GNU General Public License as published by
#	the Free Software Foundation, either version 3 of the License, or
#	(at your option) any later version.
#
#	This program is distributed in the hope that it will be useful,
#	but WITHOUT ANY WARRANTY; without even the implied warranty of
#	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#	GNU General Public License for more details.
#
#	You should have received a copy of the GNU General Public License
#	along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/



#window {
    background-color: transparent;
}


.titlebar, headerbar {
    min-height: 0px;
    margin: 0px;
}


/********** HEADER *************/
#headerPaned, #headerbarMain, #headerbarSide {    
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#headerPaned > separator {
	background: rgba(253, 253, 253, 0.84);
}


#headerbarMain, #headerbarMain * {
	background: #fdfdfd;
	color: rgba(130, 112, 130, 0.77);
	border:none;
}

#headerbarMain {
	padding: 0px;
}

#headerbarMain .title {
	color: #827082;
}


#searchEntry {
	margin:0 0 0 10px;
	padding:0;
	background: #fdfdfd;
	font-size: 20px;
}


#headerbarMain *:focus {
	color:#0DD100;
}

/********** HEADER LEFT SIDE *************/
#headerbarSide {
	background: rgba(253, 253, 253, 0.84);
	border:none;
}

#headerbarSide * {
	color: #827082;
}

#logo {
    background: rgba(253, 253, 253, 0.815); 
    color: #00B5FF;
}

/********** BODY *************/
#bodyPaned > separator {
	background:  rgba(253, 253, 253, 0.84);
}

#toolbar_side {
    background-color:transparent;
    min-width: 34px;
    min-height: 100px;
}

#toolbar_files {
    background:  rgba(253, 253, 253, 0.84);
    padding-left:15px;
	padding-right:15px;
    padding-top:0px;
}


#toolbar_ctrls {
    background: rgba(253, 253, 253, 0.815);
    padding-top:10px;
    padding-bottom:18px;
}



/********** FILES *************/
.openned_file, .close_file { 
	background:transparent;
	border:none;
	margin: 0 0 0 0;
	
	padding-top: 17px;
	padding-bottom: 17px;

	border-style: dotted none none none;
	border-width: 3px;
	border-color: rgba(130, 112, 130, 0.17);
}

.openned_file:hover label  {
	text-decoration: underline;
}

.openned_file label { 
	color: #827082;
    /* font-size: 1.0em; */
	/* font-weight: normal; */
}




/********** MENUS *************/
.menu {
	background:transparent;
	border:none;
	color:#6A636A;
	margin-top:12px;
}


/********** BUTTONS *************/
#closeBtn {
    background: #FF1946;
    border-radius: 100%;
}


#maximizeBtn {
    background: #0DD100;
    border-radius: 100%;
}

#minimizeBtn {
    background: #FCE94F;
    border-radius: 100%;
}


#scrolledwindow {
	border:none;
}

.sourceviewclass {
	font-family: monospace;
    font-size: 20px;
}






#ok_btn {
    background-color: rgba(65, 100, 218, 0.5);
    margin-top: 50px;
}


#ok_btn:hover, 
#ok_btn:focus {
  box-shadow: 0px 0px 0px 0px rgba(255,255,255,0.0);
}
