/*
#	This program is free software: you can redistribute it and/or modify
#	it under the terms of the GNU General Public License as published by
#	the Free Software Foundation, either version 3 of the License, or
#	(at your option) any later version.
#
#	This program is distributed in the hope that it will be useful,
#	but WITHOUT ANY WARRANTY; without even the implied warranty of
#	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#	GNU General Public License for more details.
#
#	You should have received a copy of the GNU General Public License
#	along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/ 

/*
COLORS:
BLUE: #00B5FF
GREEN: #0DD100
*/ 
@define-color gamma_bg_color @theme_bg_color;
@define-color gamma_fg_color @theme_fg_color;

 
 window :backdrop {
	opacity: 1;
}

/********** HEADER *************/
#headerbarSide {    
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}


.openned_file_editted#headerbarMain .title {
	color: @warning_color;
}
 

#searchEntry {
	font-family: monospace;
	font-size: 20px;
}



#headerbarMain*.searching, #headerbarMain*.searching *,
#headerbarMain*.messageImportant, #headerbarMain*.messageImportant * {
      /* color:#00B5FF; */
}

#headerbarMain*.searchSuccess, #headerbarMain*.searchSuccess *,
#headerbarMain*.messageSuccess, #headerbarMain*.messageSuccess * {
	/* color: @success_color; */
}
#headerbarMain*.searchFail, #headerbarMain*.searchFail * ,
#headerbarMain*.messageFail, #headerbarMain*.messageFail * {
	color: @error_color;
}



#messageLbl {
	font-family: monospace;
	margin-right:21px;
}


/********** HEADER LEFT SIDE *************/


#logo {
    /* background: #827082;*/
    background: @theme_bg_color;
    color: #FF931F;
    /* color: @theme_fg_color;*/
}

/********** BODY *************/


#toolbar_side {
    min-width: 34px;
    min-height: 100px;
}

#toolbar_files {
	/* padding-left:15px;*/
	/* padding-right:15px;*/
	padding-top:0px;
}


#toolbar_ctrls {
    padding-top: 16px;
    padding-bottom: 18px;
}



/********** FILES *************/


.openned_file button { 
	margin: 0;
	padding-top: 17px;
	padding-bottom: 17px;
	font-size: 1.05em;
	border:none;
}
 
.openned_file_current_displayed button label {
	font-weight: bold;
}

.openned_file_editted button label {
	color: @warning_color;
	font-style: italic;
}

.close_btn:hover {
	font-weight:bold;
}

overshoot.top,
overshoot.right,
overshoot.bottom,
overshoot.left,
undershoot.top,
undershoot.right,
undershoot.bottom,
undershoot.left {
  background: none;
}



/********** MENUS *************/
.menu {
	margin-top: 0px;
	padding: 6px 0 6px 0;
	background: transparent;
	border:none;
}



.menu_attention {
	color: @warning_color;
	font-style: italic;
	font-weight: bold;
}


#find_menu.menu_attention {
	color: #00B5FF;
	font-weight: bold;
}

#find_replace_menu.menu_attention {
	color: #00B5FF;
	font-weight: bold;
}



/********** BUTTONS *************/
#closeBtn {
    background: @error_color;
    border-radius: 100%;
}


#maximizeBtn {
    background: #0DD100;
    border-radius: 100%;
}


#minimizeBtn {
    background: @warning_color;
    border-radius: 100%;
}



/******************* COMMANDER WINDOW *********************/
#commanderSearchEntry, #commanderSearchEntry * {
	background: white; 
	color: black;
	font-family: monospace;
	padding: 0 5px 0 5px;
}

#commanderSearchEntry, #commanderSearchEntry * {
	font-family: monospace;
	font-size: 22px;
	min-height: 40px;
}

#commanderList{
	padding-top:4px;
}

.commanderRow {
	font-size: 18px;
	padding: 10px 30px 10px 30px;
}


#commanderList row:hover {
	color:#fdfdfd;
	background: #00B5FF;

}

#commanderList row:selected {
	background:#00B5FF;
	color:#fdfdfd;
	font-weight:bold;
}






/******************* FIND AND REPLACE *********************/
#find_replace_window button {
	margin: 0 5px 0px 10px;
}

#find_replace_window #find_prev_btn,
#find_replace_window #replace_btn {
	margin-bottom:2px;
}

#find_replace_window #find_btn,
#find_replace_window #replace_all_btn {
	margin-top:2px;
}

#find_replace_window #find_status_lbl {
	color: #827082;
}

#find_replace_window textview {
	color:red;
	font-size: 17px;
	padding: 7px;
}

#find_replace_window #find_box {
	margin: 0 0 0px 2px;
}
