/*
#	This program is free software: you can redistribute it and/or modify
#	it under the terms of the GNU General Public License as published by
#	the Free Software Foundation, either version 3 of the License, or
#	(at your option) any later version.
#
#	This program is distributed in the hope that it will be useful,
#	but WITHOUT ANY WARRANTY; without even the implied warranty of
#	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#	GNU General Public License for more details.
# 
#	You should have received a copy of the GNU General Public License
#	along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/
 

/* 
COLORS:
RED: #FF1946
BLUE: #00B5FF
ORANGE: #FF931F
YELLOW: #FCE94F
GREEN: #0DD100
WHITE: #FDFDFD
FOREGROUND: #827082 #6B5C6B
*/
@define-color gamma_bg_color #FDFDFD;
@define-color gamma_fg_color #827082;
@define-color gamma_warning_color #FF931F;
@define-color gamma_error_color #FF1946;

window :backdrop {
	opacity: 1;
}

#gamma_window decoration {
	border:none;
	box-shadow:none;
}


/* from theme */
headerbar entry, headerbar button, headerbar separator {
  margin-top: 6px;
  margin-bottom: 6px;
}


.openned_file button,
.openned_file_editted button {
	border:none;
	border-radius: 0px;
	box-shadow: none;
	text-shadow: none;
	font-style:normal;
	-gtk-icon-shadow: none;
}

 

.titlebar, headerbar {
    min-height: 0px;
    margin: 0px;
}

/********** HEADER *************/
#headerPaned, #headerbarMain, #headerbarSide {    
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#headerPaned > separator {
	background: #fdfdfd;
}
 

#headerbarMain, #headerbarMain * {
	background: #fdfdfd;
	color: rgba(130, 112, 130, 0.77);
	border:none;
}

#headerbarMain {
	padding: 8px 0 8px 0;
	border-style:solid solid none none;
	border-width:1px;
	border-color: rgba(130, 112, 130, 0.20);
}

#headerbarMain .title {
	color: #827082;
	font-size: 16px;
}
.openned_file_editted#headerbarMain .title {
	color: #FF931F;
}
 


#searchEntry {
	margin:0 0 0 10px;
	padding:0;
	background: #fdfdfd;
	font-family: monospace;
	font-size: 20px;
}
#searchEntry:focus {
	box-shadow: none;
}


#headerbarMain entry selection {
	background: #e1e0e1;
}

#headerbarMain*.searching, #headerbarMain*.searching *,
#headerbarMain*.messageImportant, #headerbarMain*.messageImportant * {
       color:#00B5FF;
}
#headerbarMain*.searchSuccess, #headerbarMain*.searchSuccess *,
#headerbarMain*.messageSuccess, #headerbarMain*.messageSuccess * {
	color: #0DD100;
}
#headerbarMain*.searchFail, #headerbarMain*.searchFail * ,
#headerbarMain*.messageFail, #headerbarMain*.messageFail * {
	color: #FF1946;
}



#messageLbl {
	font-family: monospace;
	margin-right:21px;
}


/********** HEADER LEFT SIDE *************/
#headerbarSide {
	background: #6B5C6B;
	border:none;
	box-shadow:none;
}

#headerbarSide * {
	color: #fdfdfd;
	border: none;
}

#logo {
    background: #6D5E6D; 
    color: #FF931F;
}

/********** BODY *************/
#bodyPaned > separator {
	background:  #fdfdfd;
}

#bodyPaned {
	border-style:none solid none none;
	border-width:1px;
	border-color: rgba(130, 112, 130, 0.20);
}


#source_scrolledwindow {
	border-style:none none solid none;
	border-width:1px;
	border-color: rgba(130, 112, 130, 0.20);
}

#toolbar_side {
    background-color:transparent;
    min-width: 34px;
    min-height: 100px;
}

#toolbar_files {
    background:  #6B5C6B;
    padding-left:15px;
	padding-right:15px;
    padding-top:0px;
}


#toolbar_ctrls {
    background:  #6D5E6D;
    padding-top: 16px;
    padding-bottom: 18px;
}



/********** FILES *************/
.openned_file { 
	background:transparent;
	border:none;
	margin: 0 0 0 0;
	
	border-style: dotted none none none;
	border-width: 3px;
	
	border-color: rgba(255, 196, 255, 0.16);
	font-size: 1.05em;
}

.openned_file button { 
	background:transparent;
	border:none;
	margin: 0;
	padding-top: 17px;
	padding-bottom: 17px;
	font-size: 1.05em;
}
 

.openned_file_editted button label {
	color: #FCE94F;
	font-style: italic;
}
.close_btn label {
	color: transparent;
}
.close_btn:hover {
	background: rgba(255, 25, 70, 0.85);
	font-weight:bold;
	color: #fdfdfd;
}


.openned_file_hover label  {
	text-decoration: none;
	color: #fdfdfd;
}


.openned_file_hover.openned_file_editted label  {
	text-decoration: none;
	color: #FCE94F;
}


.openned_file_hover  {
	background: rgba(253, 253, 253, 0.05);
}
.openned_file * { 
	color: #fdfdfd;
}
.openned_file_current_displayed {
	background: rgba(253, 253, 253, 0.10);
}
.openned_file_current_displayed {
	font-weight: bold;
}




/********** MENUS *************/
.menu {
	background:transparent;
	border:none;
	color:rgba(255, 196, 255, 0.60);
	margin-top: 0px;
	padding: 6px 0 6px 0;
	box-shadow:none;
	border-radius: 0;
	margin-left:0;
	margin-right:0;
}

.menu_hover {
	color: #FDFDFD;
	background: rgba(255, 196, 255, 0.15);
}

.menu_attention {
	color: #FCE94F;
	font-style: italic;
	font-weight: bold;
}


#find_menu.menu_attention {
	color: #ADCEFF;
	font-weight: bold;
}

#find_replace_menu.menu_attention {
	color: #FFADE3;
	font-weight: bold;
}



/********** BUTTONS *************/
#closeBtn {
    background: #FF1946;
    border-radius: 100%;
}


#maximizeBtn {
    background: #0DD100;
    border-radius: 100%;
}


#minimizeBtn {
    background: #FCE94F;
    border-radius: 100%;
}


.scrolledwindow {
	border:none;
}

overshoot.top,
overshoot.right,
overshoot.bottom,
overshoot.left,
undershoot.top,
undershoot.right,
undershoot.bottom,
undershoot.left {
  background: none;
}

/*.sourceviewclass {*/
/*	font-family: monospace;*/
/*    font-size: 20px;*/
    /* font-size: 10px;*/
/*}*/



/******************* COMMANDER WINDOW *********************/

#commanderSearchEntry, #commanderSearchEntry * {
	color:#827082;
	background: #fdfdfd; 
	font-family: monospace;
	font-size: 22px;
	min-height: 40px;
}
#commanderSearchEntry {
	border-radius: 0px;
	padding:0 5px 0 5px;
}

#commanderSearchEntry selection {
	background: #e1e0e1;
}
#commanderList{
	background: #6D5E6D;
	padding-top:4px;
}

.commanderRow {
	color:#fdfdfd;

	font-size: 18px;
	padding: 10px 30px 10px 30px;
	border:none;
}

#commanderList  row {
	border:none;
}

#commanderList row:hover {
	color: #FDFDFD;
	background: rgba(255, 196, 255, 0.15);
	border:none;
}

#commanderList row:selected {
	background:#00B5FF;
	color:#fdfdfd;
	font-weight:bold;
	border:none;
}






/******************* FIND AND REPLACE *********************/
#find_replace_window button {
	margin: 0 5px 0px 10px;
}

#find_replace_window #find_prev_btn,
#find_replace_window #replace_btn {
	margin-bottom:2px;
}

#find_replace_window #find_btn,
#find_replace_window #replace_all_btn {
	margin-top:2px;
}

#find_replace_window #find_status_lbl {
	color: #827082;
}

#find_replace_window textview {
	color:red;
	font-size: 17px;
	padding: 7px;
}

#find_replace_window #find_box {
	margin: 0 0 0px 2px;
}





/******************* BOTTOM PANEL *********************/

/* notebook tab label {*/
/* 	color: #827082;*/
/* 	font-size: 17px;*/
/* }*/


