/*
#	This program is free software: you can redistribute it and/or modify
#	it under the terms of the GNU General Public License as published by
#	the Free Software Foundation, either version 3 of the License, or
#	(at your option) any later version.
#
#	This program is distributed in the hope that it will be useful,
#	but WITHOUT ANY WARRANTY; without even the implied warranty of
#	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#	GNU General Public License for more details.
#
#	You should have received a copy of the GNU General Public License
#	along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/


/*
COLORS:
RED: #FF0000 FF0000 FF0000
BLUE: #00B5FF 60DEDE
ORANGE: #FF931F
YELLOW: #FCE94F
GREEN: #008000 C2FF8E
pink: BEB0BE D33682
purpul: CAC5FF
BACKGROUND: #fefcf5
FOREGROUND: #000080 rgba(255, 255, 218, 0.86) 847479
*/
@define-color gamma_bg_color #fefcf5;
@define-color gamma_fg_color #000080;
@define-color gamma_warning_color #d97c5c;
@define-color gamma_error_color #FF0000;

window :backdrop {
	opacity: 1;
}

#gamma_window decoration, headerbar {
	border:none;
	box-shadow:none;
}


/* from theme */
headerbar entry, headerbar button, headerbar separator {
  margin-top: 6px;
  margin-bottom: 6px;
}


.openned_file button,
.openned_file_editted button {
	border:none;
	border-radius: 0px;
	box-shadow: none;
	text-shadow: none;
	font-style:normal;
	-gtk-icon-shadow: none;
}



#window {
    background-color: transparent;
    border:none;
}


.titlebar, headerbar {
    min-height: 0px;
    margin: 0px;
}

/********** HEADER *************/
#headerPaned, #headerbarMain, #headerbarSide {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#headerPaned > separator {
	background: #efefef;
}


#headerbarMain, #headerbarMain * {
	background: @gamma_bg_color;
	color: rgba(255, 255, 218, 0.86);
	border:none;
}

#headerbarMain {
	padding: 8px 0 8px 0;
}

#headerbarMain .title {
	color: #505050;
	font-size: 16px;
}
.openned_file_editted#headerbarMain .title {
	color: @gamma_warning_color;
}



#searchEntry, #searchEntry* {
	margin:0 0 0 10px;
	padding:0;
	background: @gamma_bg_color;
	color: #c0c0c0;
	font-family: monospace;
	font-size: 20px;
	caret-color: #8000ff;
}
#searchEntry:focus {
	box-shadow: none;
}


#headerbarMain*.searching, #headerbarMain*.searching *,
#headerbarMain*.messageImportant, #headerbarMain*.messageImportant * {
       color:#8000ff;
       caret-color:#8000ff;
}
#headerbarMain*.searchSuccess, #headerbarMain*.searchSuccess *,
#headerbarMain*.messageSuccess, #headerbarMain*.messageSuccess * {
	color: #008000;
	caret-color:#008000;
}
#headerbarMain*.searchFail, #headerbarMain*.searchFail * ,
#headerbarMain*.messageFail, #headerbarMain*.messageFail * {
	color: #FF0000;
	caret-color:#FF0000;
}

#headerbarMain entry selection {
	background: #999999;
}




#messageLbl {
	font-family: monospace;
	color: #808080;
	margin-right:21px;
}


/********** HEADER LEFT SIDE *************/
#headerbarSide {
	background: #efefef;
	border:none;
}

#headerbarSide * {
	color: #808080;
	border: none;
}

#logo {
    background: #e4e4e4;
    color: #029012;
}

/********** BODY *************/
#bodyPaned > separator {
	background: #efefef;
}

#toolbar_side {
    background-color:transparent;
    min-width: 34px;
    min-height: 100px;
}

#toolbar_files {
    background: #efefef;
    padding-left:15px;
	padding-right:15px;
    padding-top:0px;
}


#toolbar_ctrls {
    background: #e4e4e4;
    padding-top: 16px;
    padding-bottom: 18px;
}



/********** FILES *************/
.openned_file {
	background:transparent;
	border:none;
	margin: 0 0 0 0;

	border-style: dotted none none none;
	border-width: 3px;

	border-color: rgba(255, 196, 255, 0.16);
	font-size: 1.05em;
}

.openned_file button {
	background:transparent;
	border:none;
	margin: 0;
	padding-top: 17px;
	padding-bottom: 17px;
	font-size: 1.05em;
}


.openned_file_editted button label {
	color: @gamma_warning_color;
	font-style: italic;
}


.openned_file_hover label  {
	text-decoration: none;
	color: #707070;
}


.openned_file_hover.openned_file_editted label  {
	text-decoration: none;
	color: @gamma_warning_color;
}


.openned_file_hover  {
	background: rgba(253, 253, 253, 0.04);
}
.openned_file * {
	color: #808080;
}
.openned_file_current_displayed {
	background: rgba(253, 253, 253, 0.04);
}
.openned_file_current_displayed {
	font-weight: bold;
}

.close_btn label {
	color: #5a5a5a;
}
.close_btn:hover {
	background: #FF0000;
	font-weight:bold;
}

.close_btn:hover * {
	color: #ffffff;
}


/********** MENUS *************/
.menu {
	background: transparent;
	border:none;
	color: #808080;
	margin-top: 0px;
	padding: 6px 0 6px 0;
	box-shadow:none;
	border-radius: 0;
	margin-left:0;
	margin-right:0;
}

.menu_hover {
	color: #406060;
	background: rgba(255, 255, 255, 0.55);
}

.menu_attention {
	color: @gamma_warning_color;
	font-style: italic;
	font-weight: bold;
}


#find_menu.menu_attention {
	color: #2455E1;
	font-weight: bold;
}

#find_replace_menu.menu_attention {
	color: #2455E1;
	font-weight: bold;
}



/********** BUTTONS *************/
#closeBtn {
    background: #2455E1;
    border-radius: 100%;
}


#maximizeBtn {
    background: rgba(36, 85, 225, 0.6);
    border-radius: 100%;
}


#minimizeBtn {
    background: rgba(36, 85, 225, 0.3);
    border-radius: 100%;
}


.scrolledwindow {
	border:none;
}

overshoot.top,
overshoot.right,
overshoot.bottom,
overshoot.left,
undershoot.top,
undershoot.right,
undershoot.bottom,
undershoot.left {
  background: none;
}

/*.sourceviewclass {*/
/*	font-family: monospace;*/
/*    font-size: 20px;*/
    /* font-size: 10px;*/
/*}*/



/******************* COMMANDER WINDOW *********************/

#commanderSearchEntry, #commanderSearchEntry * {
	color:#303030;
	background: #fefefe;
	font-family: monospace;
	font-size: 22px;
	min-height: 40px;
}
#commanderSearchEntry {
	border-radius: 0px;
	padding:0 5px 0 5px;
}

#commanderSearchEntry selection {
	background: #000080;
	color: @gamma_bg_color;
}

#commanderScrolled {
	border: none;
}
#commanderList{
	background: #f4f3f3;
	padding-top:4px;
}

.commanderRow {
	color: #303030;
	font-family: monospace;
	font-size: 18px;
	padding: 10px 30px 10px 30px;
	border:none;
}

#commanderList  row {
	border:none;
}

#commanderList row:hover {
	color: #000;
	background:rgba(232, 232, 255, 0.45);
	border:none;
}

#commanderList row:selected {
	background:#e8e8ff;
	font-weight:bold;
	border:none;
}

#commanderList row:selected label {
	color: #303030;
}





/******************* FIND AND REPLACE *********************/
#find_replace_window button {
	margin: 0 5px 0px 10px;
}

#find_replace_window #find_prev_btn,
#find_replace_window #replace_btn {
	margin-bottom:2px;
}

#find_replace_window #find_btn,
#find_replace_window #replace_all_btn {
	margin-top:2px;
}

#find_replace_window #find_status_lbl {
	color: #000080;
}

#find_replace_window textview {
	color:red;
	font-size: 17px;
	padding: 7px;
}

#find_replace_window #find_box {
	margin: 0 0 0px 2px;
}





/******************* BOTTOM PANEL *********************/
notebook tab label {
	color: @gamma_fg_color;
}

notebook   {
	background-color: @gamma_bg_color;
}

